<% if !user_signed_in? %>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
     <%= link_to "Sign Up To write a Review", new_user_registration_path, class: "btn btn-primary btn-lg"%>
  </p>
</div>
<% end %>

<div class="row">
<% @movies.each do |movie| %>
<div class="col-sm-6 col-md-4 col-lg-3 mb-4" >
<div class="card p-2 text-center">
<div class="img-fluid">
<%= link_to (image_tag movie.image.url(:medium), class: "img-fluid"), movie %>
</div>
</div>
</div>
<% end %>
</div>


