
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background:#6ab04c;
}

body, wrapper {
    min-height: 100vh;
}

main {
    flex: 1;
}
.review_title {
    margin: 0 0 20px 0;
}

.reviews {
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
    .star-rating {
        padding-bottom: 8px;
    }
}
.glyphicon-star{
    color: #f1c40f;
}

footer {
    background-color:#283149;
    color:white;
}

.fa-facebook{
    border: 1px solide white;
    font-size: 200%;
    padding: 5px;
    background-color: blue;
}

.social-logo{
  text-align: center;
  padding-top: 7px;
  display:inline-block;
  height: 40px;
  width:40px;
  border-radius:20px;
  background-color: transparent;
  border: 2px solid white;
}