<footer class="container-fluid text-center ml-0 mr-0 sticky-bottom">
   <div class="row">
      <div class="col-12 col-sm-4">
      <h2>COMANY</h2>
       <h4>About</h4>
       <h4>Contact</h4>
      </div>

      <div class="col-12 col-sm-4">
      <h2>CONTACT</h2>
      <h4>tenzinleo@gmail.com</h4>
      <h4><i class="fa fa-facebook"></i> facebook</h4>
      <h4>github</h4>
      <h4>linkedin</h4>
      </div>
      
      <div class="col-12 col-sm-4">
      <h2>ADDRESS</h2>
      <h4>Toronto, ON</h4>
      <h4>Canada</h4>
      </div>
    </div>

    <div class="row">
    <div class="col-12">
     <p>Copyright <span>&#9400</span> Lobsang Tenzin</p>
    </div>
    </div>
</footer>